unpackage/
dist/
.idea/
node_modules/
.DS_Store
.hbuilderx/
wxcomponents/vant-weapp
yarn.lock
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.zip
.svn
package-lock.json
node_modules
.history
# util/config.js
